[Unit]
Description=Qualcomm modem port opener
After=qrtr-ns.service rmtfs.service
Before=ofono.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'while ! /usr/sbin/msm-port-port-opener; do sleep 1; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
